.button {
    color: var(--color-white);
    text-transform: uppercase;
    background-color: var(--color-primary);
    font-weight: 700;
    border: 1px solid var(--color-primary);
    transition: all 0.2s;

    &:hover {
        border-color: var(--color-primary);
        color: var(--color-primary);
        background-color: var(--color-white);
    }
}