.footer {
    margin-top: 50px;

    a,
    button {
        transition: color 0.2s, border-color 0.2s;
        &:hover {
            color: var(--color-primary);
            border-color: var(--color-primary);
        }
    }


    &__container {
        display: flex;
        flex-direction: column;

        &-top {
            display: flex;
            justify-content: space-between;
        }

        &-bottom {
            margin-top: 50px;
        }

        &-logo {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 50px;
        }

        &-address {
            color: var(--color-text-2);
        }

        &-menu {
            display: flex;
            justify-content: space-between;
        }

        &-nav {
            display: flex;
            margin-right: 72px;
        }

        &-links {
            margin-right: 144px;
        }

        &-list-title {
            color: var(--color-text-2);
            font-weight: 500;
            margin-bottom: 55px;
        }

        &-list {
            font-weight: 500;
            display: flex;
            flex-direction: column;
            gap: 46px;
        }

        &-form {
            &-input {
                border: none;
                border-bottom: 1px solid var(--color-black);
                margin-right: 16px;
                outline: none;
    
                &::placeholder {
                    font-size: 14px;
                    color: var(--color-text-2);
                }
            }

            &-button {
                font-size: 14px;
                border-bottom: 1px solid var(--color-black);

            }
        }
    }
}