.product__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--color-gray-1-rgb), 0.76);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;


    &-btn {
        padding: 12px 55px;
    }

    &-list {
        padding-top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    &-icon {
        fill: var(--color-white);
    }

    &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        transition: all 0.1s;

        &:hover {
            color: var(--color-primary-text);

            .product__overlay-icon {
                fill: var(--color-primary-text);
            }
        }
    }

    &-text {
        font-weight: 600;
    }

}