.catalog__section {
    margin-top: 70px;
    
    &-content {
        width: 100%;
        max-width: 1180px;
        margin: 0 auto;
    }
    
    &-top {
        text-align: center;
        margin-bottom: 62px;
    }

    &-title {
        font-size: 32px;
        font-weight: 700;
        color: var(--color-text);
    }

    &-subtitle {
        font-size: 20px;
        color: var(--color-text-1);
        font-weight: 400;
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 0 auto;
    }

    &-img {
        border-radius: 10px;
    }

    &-discription {
        font-size: 24px;
        font-weight: 600;
        color: var(--color-text);
        margin-top: 30px;
        text-align: center;
    }
    
}