.collage__section {
    margin-top: 68px;
    text-align: center;


    &-title {
        font-size: 40px;
        font-weight: 700;
        color: var(--color-gray-1);
    }
    &-subtitle {
        font-size: 20px;
        font-weight: 600;
        color: var(--color-gray-2);
    }

    .moodboard__container {
        max-width: 1440px;
        margin: 40px auto;
        padding: 20px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(17, 1fr);
        grid-template-rows: repeat(8, minmax(70px, auto)); 
        gap: 16px;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
        .item-1 { /* Узкая вертикальная полка (слева) */
            grid-area: 1 / 1 / 5 / 2;
            z-index: 2; 
        }

        .item-2 { /* Большой рабочий стол (слева-центр) */
            grid-area: 2 / 2 / 5 / 7;
        }

        .item-3 { /* Кресло (крайний левый низ) */
            grid-area: 6 / 1 / 9 / 3;
            z-index: 3; /* Перекрывает соседний блок 4 */
        }

        .item-4 { /* Стол с цветами (низ-центр) */
            grid-area: 5 / 3 / 8 / 7;
        }

        .item-5 { /* Обеденная зона (центр) */
            grid-area: 3 / 7 / 7 / 11;
        }

        .item-6 { /* Спальня (центр-право) */
            grid-area: 2 / 11 / 6 / 15;
        }

        .item-7 { /* Кирпичная стена (самый правый верх) */
            grid-area: 1 / 15 / 6 / 18;
        }

        .item-8 { /* Рамка на комоде (правый низ) */
            grid-area: 6 / 11 / 9 / 14;
        }

        .item-9 { /* Кухня (правый низ) */
            grid-area: 6 / 14 / 8 / 17;
        }
    }
}