.inspirations__section {
    padding: 44px 0;
    margin-top: 69px;
    &-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    &-discription {
        flex-basis: calc(100% / 3);
    }

    &-title {
        color: var(--color-gray-1);
        font-weight: 700;
        font-size: 40px;
    }

    &-text {
        color: var(--color-gray-2);
        margin-top: 7px;
        font-weight: 500;
    }

    &-button {
        margin-top: 25px;
        padding: 12px 36px;
    }

    .preview {
        flex-basis: calc(100% / 3);
        position: relative;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
        &__box {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            padding: 33px 20px;
            position: absolute;
            background-color: var(--color-white);
            bottom: 24px;
            left: 24px;

            &-subtitle {
                font-weight: 500;
                color: var(--color-gray-2);
            }

            &-title {
                font-size: 28px;
                font-weight: 600;
                color: var(--color-gray-1);
            }

            &-button {
                right: -48px;
                bottom: 0;
                position: absolute;
                padding: 12px;
                line-height: 0;
                border: none;
            }
        }
    }
}